.acercaDeDiv {
    background-color: rgb(243, 153, 27);
    width: 100%;
    height: 400px;
    border-radius: 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.2);
}

.Titulo {
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 32pt;
}

.Texto {
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 20pt;
    text-align: justify;
}