.contenedorTarjetas {
    width: 90%;
    height: 400px;
    border-radius: 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;

}

.tarjeta {
    width: 20%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
    margin: 10px;
    text-align: center;
}

.tarjeta a {
    text-decoration: none;
    color: rgb(243, 153, 27)
}

.tarjeta img {
    width: 60%;
    height: auto;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 50%);
}
