.contenedorTarjetas {
    width: 90%;
    min-height: 400px;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tarjeta {
    width: 320px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.tarjeta h3 {
    font-size: 0.95rem;
    margin: 3px 0;
    line-height: 1.2;
    color: #f7941d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tarjeta a {
    text-decoration: none;
    color: rgb(243, 153, 27)
}

.tarjeta img {
    width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
