h2 {
    color: rgb(114, 206, 137);
}

h1 {
    color: rgb(93, 172, 168);
}

.encabezado {
    background-color: aliceblue;
}

.logo img {
    width: 100px;
    height: 100px;
}

.redes ul li img {
    width: 50px;
    height: 50px;
}