h2 {
    color: rgb(114, 206, 137);
}

h1 {
    color: rgb(93, 172, 168);
}

.encabezado {
    width: 100%;
    display: flex;
}

.logoDiv {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.logoDiv img {
    width: 150px;
}

.redesDiv ul li img {
    width: 50px;
    height: 50px;
}

.menuDiv {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuDiv ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(243, 153, 27);
    padding: 20px;
    border-radius: 30px;
}

.redesDiv {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redesDiv ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.redesDiv ul li img {
    width: 50px;
    height: auto;
    display: flex;
    transform: scale(1);
    transition: all 0.1s ease;
    
}

.redesDiv ul li img:hover {
    transform: scale(1.5);
    padding-inline: 10px;

}

.menuDiv ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
    transform: scale(1);
}

.menuDiv ul li a:hover {
    background-color: rgb(255, 255, 255);
    padding: 10px 5px;
    transform: scale(1.5);
    border-radius: 30PX;
    color: rgb(243, 153, 27);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 50%);
}