.galeria-container {
    background-color: rgb(243, 153, 27);
    width: 100%;
    height: 400px;
    border-radius: 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    overflow-y: auto; /* scroll horizontal */
    scrollbar-width: thin;
    padding: 0px 10px;
}

.Titulo {
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 32pt;
}

/*
.tarjeta {
    width: 20%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
    margin: 10px;
    text-align: center;
}

.tarjeta a {
    text-decoration: none;
    color: rgb(243, 153, 27)
}

.tarjeta img {
    width: 60%;
    height: auto;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 50%);
}
*/

.galeria-container::-webkit-scrollbar {
  height: 8px;
}

.galeria-container::-webkit-scrollbar-thumb {
  background: #f7941d;
  border-radius: 4px;
}

.tarjeta {
  flex: 0 0 250px; /* ancho fijo */
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
}

.tarjeta img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tarjeta h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.tarjeta p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.tarjeta a {
  text-decoration: none;
  color: #f7941d;
  font-weight: bold;
}

.galeria-container .tarjeta:first-child {
  margin-left: 600px;
}

.galeria-container .tarjeta:last-child {
  margin-right: 10px;
}