.Galeria {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: block;
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
}

.Producto {
  width: 30%;
  height: auto;
  margin: 20px;
  display: inline-block;
  align-items: center;
  vertical-align: top;
  position: relative;
}

.Producto img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  margin-top: 10px;
}

.Producto img:hover {
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.galeriaDiv {
  width: 100%;
  display: block;
  padding: 40px 0;
  position: relative;
  clear: both;
}