.mapaContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.nombreSucursal {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0 0 15px 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
