.PiePagina {
    background-color: rgb(243, 153, 27);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.TextoIzq{
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 14pt;
}

.TextoDer {
    color: white;
    text-align: right;
    display: flex;
    align-items: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 14pt;
}