.productosDiv {
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.productosDiv h3 {
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #f7941d;
}

.tarjeta .Titulo {
    font-size: 0.95rem;
    line-height: 1.2;
    margin: 3px 0;
    color: #f7941d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tarjeta {
    width: 320px;
    height: 400px;
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.tarjeta p {
  font-size: 0.9rem;
  color: #555555;
  margin-bottom: 10px;
}

.precio {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
  font-size: 20pt;
}
